@tailwind base;
@tailwind components;
@tailwind utilities;

article {
    .pb-100\% {
        > span {
            object-fit: cover;
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}
